.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding:0px 2rem;
  margin: 5rem 0px;
  width: 100vw;
  height: 100vh;
}

.border {
  width: 90%;

  height: 1px;
  border: 0.3px dashed rgba(0, 0, 0, 0.389);
}
.heading {
  font-size: 2rem;
  font-weight: 800;
  background-image: linear-gradient(180deg, #6a6262, #000000);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.span {
  color: var(--gray7) !important;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0px 20px;
}
.lists {
  background-color: #8685853e;
  padding: 3px;
  font-size: 14px;
  border-radius: 5px;
}
.desc {
  color: var(--gray9);
  font-weight: 400;
  font-size: 1.1rem;
  margin: 20px 0px;
}
.conteiner {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: center;
}
.contentCol {
  width: 60%;
}
.cardCol {
  width: 40%;
  padding: 1rem;
}
.cardTitle {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray12);
}
.cardDesc {
  font-size: 14px;
  color: var(--gray9);
}
.card {
  width: 20rem;
  max-height: 400px;
  background-color: var(--gray2);
  border: 1px solid var(--gray4);
  box-shadow: inset 0px 1px 1px rgba(128, 128, 128, 0.594);
}
@media (max-width: 750px) {
  .section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;

  }
  .heading {
    font-size: 1rem;
    font-weight: 800;
    background-image: linear-gradient(180deg, #6a6262, #000000);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .contentCol {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .linkCol {
    display: flex;
    flex-wrap: wrap;
  }
  .cardCol {
    width: 100%;
  }
  .lists{
    margin: 10px ;
  }

  .card{
    width: 15rem;
  }
}
